rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // games: lettura pubblica, scrittura solo se autenticati
    match /games/{gameId} {
      allow read: if true;
      allow create, update, delete: if request.auth != null;
    }
  }
}
